In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
#reading the datasets
train_insurance = pd.read_csv("train.csv")
test_insurance = pd.read_csv("test.csv")
sample_insurance = pd.read_csv("sample_submission.csv")

In [3]:
train_insurance.columns

Index(['Customer_ID', 'Sex', 'Earnings', 'Region_Code', 'Marital Status',
       'State_of_Origin', 'Customer_Worth', 'Customer_Reply', 'Plan',
       'Certification', 'Effective To Date', 'Status_of_Employment',
       'Premium_Auto_per_Month', 'Total Claim Amount', 'Vehicle Class',
       'Vehicle Size', 'Months Since Last Claim',
       'Months Since Policy Inception', 'Counts_of_Open_Complaints',
       'No_Of_POlicy', 'kind_of_policy', 'Active_Policy', 'Sales Channel',
       'Best_Offer'],
      dtype='object')

In [4]:
len(train_insurance.columns)

24

In [96]:
train_insurance.head()

,Customer_ID,Sex,Earnings,Region_Code,Marital Status,State_of_Origin,Customer_Worth,Customer_Reply,Plan,Certification,...,Vehicle Class,Vehicle Size,Months Since Last Claim,Months Since Policy Inception,Counts_of_Open_Complaints,No_Of_POlicy,kind_of_policy,Active_Policy,Sales Channel,Best_Offer
0,Customer_434,Female,97134,Suburban,Single,Kano,5017.009472,Interested,Silver,First_Degree,...,SUV,Medsize,12,15,0,1,Corporate,C_L2,Agent,1
1,Customer_4641,Female,53754,Suburban,Married,Abuja,5151.301306,Not_interested,Silver,First_Degree,...,SUV,Small,5,2,0,1,Personal,P_L2,Agent,3
2,Customer_4952,Female,25804,Suburban,Divorced,Lagos,4906.894731,Interested,Silver,HND,...,Sports Car,Medsize,3,51,0,1,Personal,P_L3,Agent,0
3,Customer_1489,Female,0,Suburban,Single,Imo,8512.525936,Not_interested,Silver,HND,...,Sports Car,Medsize,5,94,0,8,Personal,P_L2,Branch,1
4,Customer_812,Male,140494,Rural,Single,Imo,3280.531880,Not_interested,Silver,PHD,...,Four-Door Car,Medsize,13,19,2,1,Personal,P_L2,Call Center,3

In [6]:
train_insurance.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6393 entries, 0 to 6392
Data columns (total 24 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Customer_ID                    6393 non-null   object
 1   Sex                            6393 non-null   object
 2   Earnings                       6393 non-null   int64
 3   Region_Code                    6393 non-null   object
 4   Marital Status                 6393 non-null   object
 5   State_of_Origin                6393 non-null   object
 6   Customer_Worth                 6393 non-null   float64
 7   Customer_Reply                 6393 non-null   object
 8   Plan                           6393 non-null   object
 9   Certification                  6393 non-null   object
 10  Effective To Date              6393 non-null   object
 11  Status_of_Employment           6393 non-null   object
 12  Premium_Auto_per_Month         6393 non-null   int64
 13  Total Claim Amount             6393 non-null   float64
 14  Vehicle Class                  6393 non-null   object
 15  Vehicle Size                   6393 non-null   object
 16  Months Since Last Claim        6393 non-null   int64
 17  Months Since Policy Inception  6393 non-null   int64
 18  Counts_of_Open_Complaints      6393 non-null   int64
 19  No_Of_POlicy                   6393 non-null   int64
 20  kind_of_policy                 6393 non-null   object
 21  Active_Policy                  6393 non-null   object
 22  Sales Channel                  6393 non-null   object
 23  Best_Offer                     6393 non-null   int64
dtypes: float64(2), int64(7), object(15)
memory usage: 1.2+ MB

In [7]:
test_insurance.columns

Index(['Customer_ID', 'Sex', 'Earnings', 'Region_Code', 'Marital Status',
       'State_of_Origin', 'Customer_Worth', 'Customer_Reply', 'Plan',
       'Certification', 'Effective To Date', 'Status_of_Employment',
       'Premium_Auto_per_Month', 'Total Claim Amount', 'Vehicle Class',
       'Vehicle Size', 'Months Since Last Claim',
       'Months Since Policy Inception', 'Counts_of_Open_Complaints',
       'No_Of_POlicy', 'kind_of_policy', 'Active_Policy', 'Sales Channel'],
      dtype='object')

In [8]:
len(test_insurance.columns)

23

In [9]:
test_insurance.head()

,Customer_ID,Sex,Earnings,Region_Code,Marital Status,State_of_Origin,Customer_Worth,Customer_Reply,Plan,Certification,...,Total Claim Amount,Vehicle Class,Vehicle Size,Months Since Last Claim,Months Since Policy Inception,Counts_of_Open_Complaints,No_Of_POlicy,kind_of_policy,Active_Policy,Sales Channel
0,Customer_708,Male,149170,Rural,Married,Lagos,4224.631209,Not_interested,Bronze,O_Level,...,218.598065,SUV,Medsize,1,49,0,1,Personal,P_L3,Agent
1,Customer_47,Female,46436,Suburban,Single,Abuja,5516.344018,Not_interested,Bronze,O_Level,...,447.793440,Two-Door Car,Medsize,7,10,0,4,Personal,P_L2,Agent
2,Customer_3995,Female,189806,Suburban,Married,Abuja,3810.122147,Interested,Silver,HND,...,451.200000,Two-Door Car,Small,3,38,0,1,Personal,P_L3,Agent
3,Customer_1513,Female,154306,Urban,Married,Lagos,7916.823110,Not_interested,Silver,HND,...,355.641958,Four-Door Car,Medsize,3,27,2,5,Personal,P_L3,Branch
4,Customer_3686,Female,47538,Suburban,Divorced,Kano,7933.722181,Not_interested,Bronze,O_Level,...,470.097411,Four-Door Car,Medsize,18,14,0,2,Personal,P_L2,Branch

In [10]:
target_col = [col for col in train_insurance.columns if col not in test_insurance.columns]
target_col

['Best_Offer']

In [11]:
#grouping the features into categorical and numerical

categorical_feat = [Customer_ID for Customer_ID in train_insurance.columns if train_insurance[Customer_ID].all() == '0']
categorical_feat

[]

In [12]:
num_feat = [feat for feat in train_insurance.columns if feat not in categorical_feat]
num_feat

['Customer_ID',
 'Sex',
 'Earnings',
 'Region_Code',
 'Marital Status',
 'State_of_Origin',
 'Customer_Worth',
 'Customer_Reply',
 'Plan',
 'Certification',
 'Effective To Date',
 'Status_of_Employment',
 'Premium_Auto_per_Month',
 'Total Claim Amount',
 'Vehicle Class',
 'Vehicle Size',
 'Months Since Last Claim',
 'Months Since Policy Inception',
 'Counts_of_Open_Complaints',
 'No_Of_POlicy',
 'kind_of_policy',
 'Active_Policy',
 'Sales Channel',
 'Best_Offer']

In [13]:
rem = ["Customer_ID", "Best_Offer"]

for i in rem:
    num_feat.remove(i)
    
num_feat

['Sex',
 'Earnings',
 'Region_Code',
 'Marital Status',
 'State_of_Origin',
 'Customer_Worth',
 'Customer_Reply',
 'Plan',
 'Certification',
 'Effective To Date',
 'Status_of_Employment',
 'Premium_Auto_per_Month',
 'Total Claim Amount',
 'Vehicle Class',
 'Vehicle Size',
 'Months Since Last Claim',
 'Months Since Policy Inception',
 'Counts_of_Open_Complaints',
 'No_Of_POlicy',
 'kind_of_policy',
 'Active_Policy',
 'Sales Channel']

In [14]:
train_insurance[num_feat].head()

,Sex,Earnings,Region_Code,Marital Status,State_of_Origin,Customer_Worth,Customer_Reply,Plan,Certification,Effective To Date,...,Total Claim Amount,Vehicle Class,Vehicle Size,Months Since Last Claim,Months Since Policy Inception,Counts_of_Open_Complaints,No_Of_POlicy,kind_of_policy,Active_Policy,Sales Channel
0,Female,97134,Suburban,Single,Kano,5017.009472,Interested,Silver,First_Degree,3/2/2011,...,624.000000,SUV,Medsize,12,15,0,1,Corporate,C_L2,Agent
1,Female,53754,Suburban,Married,Abuja,5151.301306,Not_interested,Silver,First_Degree,1/22/11,...,628.800000,SUV,Small,5,2,0,1,Personal,P_L2,Agent
2,Female,25804,Suburban,Divorced,Lagos,4906.894731,Interested,Silver,HND,2/14/11,...,667.200000,Sports Car,Medsize,3,51,0,1,Personal,P_L3,Agent
3,Female,0,Suburban,Single,Imo,8512.525936,Not_interested,Silver,HND,8/1/2011,...,871.200000,Sports Car,Medsize,5,94,0,8,Personal,P_L2,Branch
4,Male,140494,Rural,Single,Imo,3280.531880,Not_interested,Silver,PHD,2/19/11,...,141.799422,Four-Door Car,Medsize,13,19,2,1,Personal,P_L2,Call Center

In [15]:
df = train_insurance[num_feat]
df.rename(columns = {'Marital Status':'Marital_Status',
                     'Total Claim Amount':'Total_Claim_Amount',
                     'Effective To Date':'Effective_To_Date',
                     'Vehicle Class':'Vehicle_Class',
                     'Vehicle Size':'Vehicle_Size',
                     'Months Since Last Claim':'Months_Since_Last_Claim',
                     'Months Since Policy Inception':'Months_Since_Policy_Inception',
                     'Sales Channel':'Sales_Channel'
                    }, inplace = True)

C:\Users\DELL\anaconda3\lib\site-packages\pandas\core\frame.py:4441: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().rename(

In [16]:
df2 = test_insurance[num_feat]
df2.rename(columns = {'Marital Status':'Marital_Status',
                     'Total Claim Amount':'Total_Claim_Amount',
                     'Effective To Date':'Effective_To_Date',
                     'Vehicle Class':'Vehicle_Class',
                     'Vehicle Size':'Vehicle_Size',
                     'Months Since Last Claim':'Months_Since_Last_Claim',
                     'Months Since Policy Inception':'Months_Since_Policy_Inception',
                     'Sales Channel':'Sales_Channel'
                    }, inplace = True)

In [17]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression, LogisticRegressionCV
from sklearn.preprocessing import LabelEncoder, StandardScaler
from sklearn import metrics

In [18]:
le = LabelEncoder()
le

LabelEncoder()

In [19]:
df_train = df
df_train.Sex = le.fit_transform(df_train.Sex)
df_train.Region_Code = le.fit_transform(df_train.Region_Code)
df_train.Marital_Status = le.fit_transform(df_train.Marital_Status)
df_train.State_of_Origin = le.fit_transform(df_train.State_of_Origin)
df_train.Customer_Reply = le.fit_transform(df_train.Customer_Reply)
df_train.Plan = le.fit_transform(df_train.Plan)
df_train.Certification = le.fit_transform(df_train.Certification)
df_train.Status_of_Employment = le.fit_transform(df_train.Status_of_Employment)
df_train.Vehicle_Class = le.fit_transform(df_train.Vehicle_Class)
df_train.Vehicle_Size = le.fit_transform(df_train.Vehicle_Size)
df_train.kind_of_policy = le.fit_transform(df_train.kind_of_policy)
df_train.Active_Policy = le.fit_transform(df_train.Active_Policy)
df_train.Sales_Channel = le.fit_transform(df_train.Sales_Channel)

C:\Users\DELL\anaconda3\lib\site-packages\pandas\core\generic.py:5494: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[name] = value

In [20]:
df_test = df2
df_test.Sex = le.fit_transform(df_test.Sex)
df_test.Region_Code = le.fit_transform(df_test.Region_Code)
df_test.Marital_Status =le.fit_transform(df_test.Marital_Status)
df_test.State_of_Origin = le.fit_transform(df_test.State_of_Origin)
df_test.Customer_Reply = le.fit_transform(df_test.Customer_Reply)
df_test.Plan = le.fit_transform(df_test.Plan)
df_test.Certification = le.fit_transform(df_test.Certification)
df_test.Status_of_Employment = le.fit_transform(df_test.Status_of_Employment)
df_test.Vehicle_Class = le.fit_transform(df_test.Vehicle_Class)
df_test.Vehicle_Size = le.fit_transform(df_test.Vehicle_Size)
df_test.kind_of_policy = le.fit_transform(df_test.kind_of_policy)
df_test.Active_Policy = le.fit_transform(df_test.Active_Policy)
df_test.Sales_Channel = le.fit_transform(df_test.Sales_Channel)

In [21]:
#num_feat.remove('Effective To Date')

In [22]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6393 entries, 0 to 6392
Data columns (total 22 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Sex                            6393 non-null   int32
 1   Earnings                       6393 non-null   int64
 2   Region_Code                    6393 non-null   int32
 3   Marital_Status                 6393 non-null   int32
 4   State_of_Origin                6393 non-null   int32
 5   Customer_Worth                 6393 non-null   float64
 6   Customer_Reply                 6393 non-null   int32
 7   Plan                           6393 non-null   int32
 8   Certification                  6393 non-null   int32
 9   Effective_To_Date              6393 non-null   object
 10  Status_of_Employment           6393 non-null   int32
 11  Premium_Auto_per_Month         6393 non-null   int64
 12  Total_Claim_Amount             6393 non-null   float64
 13  Vehicle_Class                  6393 non-null   int32
 14  Vehicle_Size                   6393 non-null   int32
 15  Months_Since_Last_Claim        6393 non-null   int64
 16  Months_Since_Policy_Inception  6393 non-null   int64
 17  Counts_of_Open_Complaints      6393 non-null   int64
 18  No_Of_POlicy                   6393 non-null   int64
 19  kind_of_policy                 6393 non-null   int32
 20  Active_Policy                  6393 non-null   int32
 21  Sales_Channel                  6393 non-null   int32
dtypes: float64(2), int32(13), int64(6), object(1)
memory usage: 774.3+ KB

In [23]:
#df.drop(["Effective_To_Date"], axis=1, inplace=True)
#So date doesn't get dropped in next step
df['Effective_To_Date'] = pd.to_datetime(df['Effective_To_Date'])
df['YearMonth'] = df['Effective_To_Date'].map(lambda x: 100*x.year + x.month)
df['Year'] = df['Effective_To_Date'].map(lambda x: x.year)
df['Month'] = df['Effective_To_Date'].map(lambda x: x.month)

<ipython-input-23-14b7e2288f5c>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Effective_To_Date'] = pd.to_datetime(df['Effective_To_Date'])
<ipython-input-23-14b7e2288f5c>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['YearMonth'] = df['Effective_To_Date'].map(lambda x: 100*x.year + x.month)

In [24]:
df.head()

,Sex,Earnings,Region_Code,Marital_Status,State_of_Origin,Customer_Worth,Customer_Reply,Plan,Certification,Effective_To_Date,...,Months_Since_Last_Claim,Months_Since_Policy_Inception,Counts_of_Open_Complaints,No_Of_POlicy,kind_of_policy,Active_Policy,Sales_Channel,YearMonth,Year,Month
0,0,97134,1,2,3,5017.009472,0,2,0,2011-03-02,...,12,15,0,1,0,1,0,201103,2011,3
1,0,53754,1,1,0,5151.301306,1,2,0,2011-01-22,...,5,2,0,1,1,4,0,201101,2011,1
2,0,25804,1,0,4,4906.894731,0,2,1,2011-02-14,...,3,51,0,1,1,5,0,201102,2011,2
3,0,0,1,2,2,8512.525936,1,2,1,2011-08-01,...,5,94,0,8,1,4,1,201108,2011,8
4,1,140494,0,2,2,3280.531880,1,2,3,2011-02-19,...,13,19,2,1,1,4,2,201102,2011,2

In [25]:
df2.head()

,Sex,Earnings,Region_Code,Marital_Status,State_of_Origin,Customer_Worth,Customer_Reply,Plan,Certification,Effective_To_Date,...,Total_Claim_Amount,Vehicle_Class,Vehicle_Size,Months_Since_Last_Claim,Months_Since_Policy_Inception,Counts_of_Open_Complaints,No_Of_POlicy,kind_of_policy,Active_Policy,Sales_Channel
0,1,149170,0,1,4,4224.631209,1,0,2,1/17/11,...,218.598065,3,1,1,49,0,1,1,5,0
1,0,46436,1,2,0,5516.344018,1,0,2,2/1/2011,...,447.793440,5,1,7,10,0,4,1,4,0
2,0,189806,1,1,0,3810.122147,0,2,1,1/28/11,...,451.200000,5,2,3,38,0,1,1,5,0
3,0,154306,2,1,4,7916.823110,1,2,1,9/2/2011,...,355.641958,0,1,3,27,2,5,1,5,1
4,0,47538,1,0,3,7933.722181,1,0,2,2/20/11,...,470.097411,0,1,18,14,0,2,1,4,1

In [26]:
#df2.drop(["Effective_To_Date"], axis=1, inplace=True)
df2['Effective_To_Date'] = pd.to_datetime(df2['Effective_To_Date'])
df2['YearMonth'] = df2['Effective_To_Date'].map(lambda x: 100*x.year + x.month)
df2['Year'] = df2['Effective_To_Date'].map(lambda x: x.year)
df2['Month'] = df2['Effective_To_Date'].map(lambda x: x.month)

<ipython-input-26-3ae9ff2ba44b>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['Effective_To_Date'] = pd.to_datetime(df2['Effective_To_Date'])

In [27]:
len(df.columns)

25

In [28]:
len(df2.columns)

25

In [29]:
max_cardinality = 100
high_cardinality = [col for col in df.select_dtypes(exclude=np.number)
                   if df[col].nunique() > max_cardinality]
df = df.drop(columns=high_cardinality)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6393 entries, 0 to 6392
Data columns (total 25 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Sex                            6393 non-null   int32
 1   Earnings                       6393 non-null   int64
 2   Region_Code                    6393 non-null   int32
 3   Marital_Status                 6393 non-null   int32
 4   State_of_Origin                6393 non-null   int32
 5   Customer_Worth                 6393 non-null   float64
 6   Customer_Reply                 6393 non-null   int32
 7   Plan                           6393 non-null   int32
 8   Certification                  6393 non-null   int32
 9   Effective_To_Date              6393 non-null   datetime64[ns]
 10  Status_of_Employment           6393 non-null   int32
 11  Premium_Auto_per_Month         6393 non-null   int64
 12  Total_Claim_Amount             6393 non-null   float64
 13  Vehicle_Class                  6393 non-null   int32
 14  Vehicle_Size                   6393 non-null   int32
 15  Months_Since_Last_Claim        6393 non-null   int64
 16  Months_Since_Policy_Inception  6393 non-null   int64
 17  Counts_of_Open_Complaints      6393 non-null   int64
 18  No_Of_POlicy                   6393 non-null   int64
 19  kind_of_policy                 6393 non-null   int32
 20  Active_Policy                  6393 non-null   int32
 21  Sales_Channel                  6393 non-null   int32
 22  YearMonth                      6393 non-null   int64
 23  Year                           6393 non-null   int64
 24  Month                          6393 non-null   int64
dtypes: datetime64[ns](1), float64(2), int32(13), int64(9)
memory usage: 924.1 KB

In [30]:
max_cardinality = 100
high_cardinality = [col for col in df2.select_dtypes(exclude=np.number)
                   if df2[col].nunique() > max_cardinality]
df2 = df2.drop(columns=high_cardinality)
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2741 entries, 0 to 2740
Data columns (total 25 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Sex                            2741 non-null   int32
 1   Earnings                       2741 non-null   int64
 2   Region_Code                    2741 non-null   int32
 3   Marital_Status                 2741 non-null   int32
 4   State_of_Origin                2741 non-null   int32
 5   Customer_Worth                 2741 non-null   float64
 6   Customer_Reply                 2741 non-null   int32
 7   Plan                           2741 non-null   int32
 8   Certification                  2741 non-null   int32
 9   Effective_To_Date              2741 non-null   datetime64[ns]
 10  Status_of_Employment           2741 non-null   int32
 11  Premium_Auto_per_Month         2741 non-null   int64
 12  Total_Claim_Amount             2741 non-null   float64
 13  Vehicle_Class                  2741 non-null   int32
 14  Vehicle_Size                   2741 non-null   int32
 15  Months_Since_Last_Claim        2741 non-null   int64
 16  Months_Since_Policy_Inception  2741 non-null   int64
 17  Counts_of_Open_Complaints      2741 non-null   int64
 18  No_Of_POlicy                   2741 non-null   int64
 19  kind_of_policy                 2741 non-null   int32
 20  Active_Policy                  2741 non-null   int32
 21  Sales_Channel                  2741 non-null   int32
 22  YearMonth                      2741 non-null   int64
 23  Year                           2741 non-null   int64
 24  Month                          2741 non-null   int64
dtypes: datetime64[ns](1), float64(2), int32(13), int64(9)
memory usage: 396.3 KB

In [31]:
len(df2.columns)

25

In [93]:
train_insurance.Best_Offer.unique

<bound method Series.unique of 0       1
1       3
2       0
3       1
4       3
       ..
6388    2
6389    0
6390    0
6391    0
6392    1
Name: Best_Offer, Length: 6393, dtype: int64>

In [32]:
scaler = StandardScaler()
cols = num_feat
X = df.drop(columns='Effective_To_Date') #id is our index and won't help our model
X = scaler.fit_transform(X) 
testing = df2.drop(columns='Effective_To_Date')
testing = scaler.transform(testing)
#X = pd.DataFrame(data = X, columns = cols)
#testing = pd.DataFrame(data = df2, columns = cols)
#X.head()

In [127]:
#training and testing the data model

X_train, X_test, y_train, y_test = train_test_split(X, train_insurance.Best_Offer, test_size = 0.20, random_state = 0)

In [128]:
logistic = LogisticRegression()
logistic.fit(X_train, y_train)
logistic

LogisticRegression()

In [129]:
logisticpred = logistic.predict(X_train)
logisticpred2 = logistic.predict(X_test)

In [130]:
acc_train = metrics.accuracy_score(y_train, logisticpred)
acc_test = metrics.accuracy_score(y_test, logisticpred2)

In [131]:
print("The Accuracy score for the train insurance is ", acc_train)
print("The Accuracy score for the test patient is ", acc_test)

The Accuracy score for the train insurance is  0.4925694172858819
The Accuracy score for the test patient is  0.5035183737294762

In [132]:
sample_insurance.head()

     Customer_ID  Best_Offer
0   Customer_708           1
1    Customer_47           1
2  Customer_3995           1
3  Customer_1513           1
4  Customer_3686           1

In [133]:
submission_file = sample_insurance.copy()

In [134]:
submission_file.Best_Offer = logistic.predict(testing)

In [135]:
submission_file.head()

     Customer_ID  Best_Offer
0   Customer_708           1
1    Customer_47           0
2  Customer_3995           1
3  Customer_1513           1
4  Customer_3686           1

In [136]:
submission_file.to_csv('prebootcampnew.csv', index=False)

In [43]:
logisticcv = LogisticRegressionCV()
logisticcv.fit(X_train, y_train)
logisticcv

LogisticRegressionCV()

In [137]:
logisticpred1 = logisticcv.predict(X_train)
logisticpred11 = logisticcv.predict(X_test)

In [138]:
accuracy_train = metrics.accuracy_score(y_train, logisticpred1)
accuracy_test = metrics.accuracy_score(y_test, logisticpred11)

In [139]:
print("The Accuracy score for the train insurance is ", accuracy_train)
print("The Accuracy score for the test patient is ", accuracy_test)

The Accuracy score for the train insurance is  0.4806413766132186
The Accuracy score for the test patient is  0.5019546520719312

In [47]:
submit = sample_insurance.copy()

In [48]:
submit.Best_Offer = logisticcv.predict(testing)

In [49]:
submit.to_csv("prebootcampnew2.csv", index=False)

In [50]:
from sklearn.neighbors import KNeighborsClassifier

In [140]:
KNmodel = KNeighborsClassifier()
KNmodel.fit(X_train, y_train)
KNmodel

KNeighborsClassifier()

In [141]:
kpred = KNmodel.predict(X_train)
kpred1 = KNmodel.predict(X_test)

In [142]:
train_acc = metrics.accuracy_score(y_train, kpred)
test_acc = metrics.accuracy_score(y_test, kpred1)

In [143]:
print("The Accuracy score for the train insurance is ", train_acc)
print("The Accuracy score for the test insurance is ", test_acc)

The Accuracy score for the train insurance is  0.6145874071177161
The Accuracy score for the test insurance is  0.46755277560594216

In [55]:
submission = sample_insurance.copy()

In [56]:
submission.Best_Offer = KNmodel.predict(testing)

In [57]:
submission.to_csv("prebootcampnew6.csv", index=False)

In [58]:
from sklearn.linear_model import RidgeClassifierCV

In [59]:
percep = RidgeClassifierCV()
percep.fit(X_train, y_train)
percep

RidgeClassifierCV(alphas=array([ 0.1,  1. , 10. ]))

In [60]:
predP = percep.predict(X_test)
predp = percep.predict(X_train)

In [61]:
trainacc = metrics.accuracy_score(y_train, predp)
testacc = metrics.accuracy_score(y_test, predP)

In [62]:
print("The Accuracy score for the train insurance is ", trainacc)
print("The Accuracy score for the test insurance is ", testacc)

The Accuracy score for the train insurance is  0.4780976220275344
The Accuracy score for the test insurance is  0.48342022940563084

In [63]:
psubmit = sample_insurance.copy()

In [64]:
psubmit.Best_Offer = percep.predict(testing)

In [65]:
psubmit.to_csv("prebootcamp4.csv", index=False)

In [66]:
from sklearn.svm import LinearSVC

In [67]:
svc = LinearSVC()
svc.fit(X_train,y_train)
svc

C:\Users\DELL\anaconda3\lib\site-packages\sklearn\svm\_base.py:985: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  warnings.warn("Liblinear failed to converge, increase "

LinearSVC()

In [68]:
svcpred = svc.predict(X_train)
svcpred1 = svc.predict(X_test)

In [69]:
svc_acc = metrics.accuracy_score(y_test, svcpred1)
svc_accr = metrics.accuracy_score(y_train, svcpred)

In [70]:
print("The Accuracy score for the train insurance is ", svc_accr)
print("The Accuracy score for the test insurance is ", svc_acc)

The Accuracy score for the train insurance is  0.47747183979974966
The Accuracy score for the test insurance is  0.48342022940563084

In [71]:
svc_submit = sample_insurance.copy()

In [72]:
svc_submit.Best_Offer = svc.predict(testing)

In [73]:
svc_submit.to_csv("prebootcamp5.csv", index=False)

In [74]:
from sklearn.naive_bayes import GaussianNB

In [75]:
gaussian = GaussianNB()
gaussian.fit(X_train, y_train)
gaussian

GaussianNB()

In [76]:
gpred = gaussian.predict(X_test)
gpred1 = gaussian.predict(X_train)

In [77]:
g_acc = metrics.accuracy_score(y_test, gpred)
gm_accr = metrics.accuracy_score(y_train, gpred1)

In [78]:
print("The Accuracy score for the train insurance is ", gm_accr)
print("The Accuracy score for the test insurance is ", g_acc)

The Accuracy score for the train insurance is  0.2146433041301627
The Accuracy score for the test insurance is  0.20417101147028155

In [79]:
g_submit = sample_insurance.copy()

In [80]:
test = testing.fillna(0)

AttributeError: 'numpy.ndarray' object has no attribute 'fillna'

In [ ]:
g_submit.Best_Offer = gaussian.predict(test)

In [ ]:
g_submit.to_csv("prebootcampnew3.csv", index=False)